<div class="nav-bar">
    <a class="nav-link" href="/#/">Home</a>
    <a class="nav-link" href="/#/trades">Trades</a>
    <a class="nav-link" href="/#/search">Find a card</a>
</div>
    <div class="main-view">
        <div class="page-title">
            <h1>My Collection</h1>
        </div>
        <div class="color-nav-container">
            <ul class="color-nav">
                <li class="collection-colors"> <img class="colors-image" src="static/images/white.png" ng-click="setSearchTerm('white')" /> </li>
                <li class="collection-colors"> <img class="colors-image" src="static/images/blue.png" /> </a> </li>
                <li class="collection-colors"> <img class="colors-image" src="static/images/black.png" /> </a> </li>
                <li class="collection-colors"> <img class="colors-image" src="static/images/red.png" /> </a> </li>
                <li class="collection-colors"> <img class="colors-image" src="static/images/green.png" /> </a> </li>
            </ul>
        </div>
    </div>
    <div class="collection-graph">
        <h3>Collection Graph</h3>
    </div>


<div class="collection-list">
    <div class="collection-content" ng-repeat="(key, val) in collectionData">
        <ngl-toggle></ngl-toggle>
        <div class="collection-card-info">
            <ul ng-show="hideInfo">
                <li><button class="add-deck-btn" ng-click="addCard()">Add Card to Deck</button></li>
                <li><span class="collection-card-info-type"></span> Type: {{ val.type }} </li>
                <li><span class="collection-card-info-color"></span> Color: {{ val.color }}</li>
                <li><span class="collection-card-info-text"></span> Text: {{ val.text}} </li>
                <li><span class="collection-card-info-other"></span> Cost: TODO add cost</li>
            </ul>
        </div>
    </div>
</div>
