<div class="nav-bar">
    <a class="nav-link" href="/#/">Home</a>
    <a class="nav-link" href="/#/trades">Trades</a>
    <a class="nav-link" href="/#/search">Find a card</a>
</div>
    <div class="main-view">
        <div class="page-title">
            <h1>My Collection</h1>
        </div>
        <div class="color-nav-container">
            <ul class="color-nav">
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/white.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/blue.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/black.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/red.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/green.png" /> </a> </li>
            </ul>
        </div>
    </div>
    <div class="collection-graph">
        <h3>Collection Graph</h3>
    </div>


<div class="collection-list">
    <div class="collection-content">
        <img class="collection-card-image" src="static/images/testSmall.jpg" data-toggle="tooltip" data-placement="right"  />
        <strong class="collection-card-name"> Wrath of God </strong>
        <span class="collection-card-edition">alpha</span>
        <div class="collection-card-info">
            <ul>
                <li><span class="collection-card-info-type"></span> Type: sorcery </li>
                <li><span class="collection-card-info-color"></span> Color: white</li>
                <li><span class="collection-card-info-text"></span> Text: Destroy all creatures. They can't be regenerated. </li>
                <li><span class="collection-card-info-other"></span> Cost: 4 (2 plains, 2 colorless) </li>
            </ul>
        </div>
    </div>
</div>

<div class="collection-list">
    <div class="collection-content">
        <img class="collection-card-image" src="static/images/testSmall2.jpg" data-toggle="tooltip" data-placement="right"  />
        <strong class="collection-card-name"> Narset Transcendent </strong>
        <span class="collection-card-edition">Dragons of Tarkir</span>
        <div class="collection-card-info">
            <ul>
                <li><span class="collection-card-info-type"></span> Type: plainswalker </li>
                <li><span class="collection-card-info-color"></span> Color White / Blue</li>
                <li><span class="collection-card-info-text"></span> Text: +1: Look at the top card of your library. If it's a noncreature, nonland card, you may reveal it and put it into your hand. −2: When you cast your next instant or sorcery spell from your hand this turn, it gains rebound. −9: You get an emblem with "Your opponents can't cast noncreature spells." </li>
                <li><span class="collection-card-info-other"></span> Cost: 4 (1 plains, 1 island, 2 colorless </li>
            </ul>
        </div>
    </div>
</div>
