<div class="nav-bar">
    <a class="nav-link" href="/#/">Home</a>
    <a class="nav-link" href="/#/trades">Trades</a>
    <a class="nav-link" href="/#/search">Find a card</a>
</div>
    <div class="main-view">
        <div class="page-title">
            <h1>My Collection</h1>
        </div>
        <div class="color-nav-container">
            <ul class="color-nav">
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/white.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/blue.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/black.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/red.png" /> </a> </li>
                <li class="collection-colors"> <a href="#"> <img class="colors-image" src="static/images/green.png" /> </a> </li>
            </ul>
        </div>
    </div>
    <div class="collection-graph">
        <h3>Collection Graph</h3>
    </div>


<div class="collection-list">
    <ngl-toggle class="collection-content" ng-repeat="(key, val) in collectionData"> </ngl-toggle>
</div>
