<div class="nav-bar">
    <a class="nav-link" href="/#/">Home</a>
    <a class="nav-link" href="/#/collection">Collection</a>
    <a class="nav-link" href="/#/search">Find a card</a>
</div>
<div>
    <div class="main-view">
        <h1>Deck Tester</h1>
        <h2>Number of cards in deck: {{ totalDeckCards }}</h2>
    </div>
</div>
<div class="collection-graph">
    <h3>Sample Hand</h3>
    <button class="sample-hand-btn" ng-click="drawHand(deckData)">Draw Sample Hand</button>
</div>
<div class="collection-list">
    <div class="collection-content" ng-repeat="card in deckData">
        <ngl-toggle></ngl-toggle>
        <div class="collection-card-info">
            <ul ng-show="hideInfo">
                <li><span class="collection-card-info-other"></span> Currently {{ card.deckAmount }} in this deck </li>
                <li><span class="collection-card-info-type"></span> Type: {{ card.type }} </li>
                <li><span class="collection-card-info-color"></span> Color: {{ card.color }}</li>
                <li><span class="collection-card-info-text"></span> Text: {{ card.text}} </li>
                <li><button class="remove-btn" ng-click="removeCard(card)">Remove Card</button></li>
            </ul>
        </div>
    </div>
</div>