<div class="wrapper">
    <div class="header-background">
        <div class="page-title">
            <img class="logo" src="static/images/logo.png" />
        </div>
        <nav class="nav-bar">
            <a href="/#/collection">Collection</a>
            <a href="/#/home">Home</a>
            <a href="/#/search">Find a card</a>
        </nav>
    </div>
    <div class="deck-view">
        <div class="deck-list">
            <h2>Decklist</h2>
            <div class="deck-list categories">
                <ul>
                    <li> <h4>Creatures</h4> </li>
                    <li ng-repeat="card in creatures"> <a href="" ng-mouseover="showCardImage(card)"> ({{ card.deckAmount }}) {{ card.name }} </a> </li>
                    <li> <h4>Plaineswalker</h4> </li>
                    <li ng-repeat="card in walkers"> <a href="" ng-mouseover="showCardImage(card)"> ({{ card.deckAmount }}) {{ card.name }} </a> </li>
                </ul>
                <ul>
                    <li> <h4>Spells</h4> </li>
                    <li ng-repeat="card in spells"> <a href="" ng-mouseover="showCardImage(card)"> ({{ card.deckAmount }}) {{ card.name }} </a> </li>
                </ul>
                <ul>
                    <li> <h4>Land</h4> </li>
                    <li ng-repeat="card in land"> <a href="" ng-mouseover="showCardImage(card)"> ({{ card.deckAmount }}) {{ card.name }} </a> </li>
                    <li> <h3>{{ totalDeckCards }} Cards</h3> </li>
                </ul>
            </div>
        </div>
        <div class="deck-image">
            <img ng-model="displayedImage" src="{{ displayedImage }}" />
        </div>
    </div>
    <div class="deck-br"></div>
    <div class="sample-hand">
        <button class="sample-hand-btn" ng-click="drawHand(deckData)">Draw Sample Hand</button>
        <ul>
            <li ng-repeat="sample in sampleHand track by $index" > <img src="{{ sample }} "></li>
        </ul>
    </div>
</div>