<video controls muted autoplay poster="static/images/testStill.JPG" class="background-vid" loop>
    <source src="static/images/Video.webm" type="video/webm">
    <source src="static/images/Video.mp4" type="video/mp4">
</video>
<div class="main-view">
    <div class="page-title">
        <h1>Magic The Gathering</h1>
    </div>
    <nav class="nav-bar">
        <a href="/#/collection">Collection</a>
        <a href="/#/deck">Deck Test</a>
        <a href="/#/search">Find a card</a>
    </nav>
</div>