<video controls muted autoplay poster="static/images/testStill.JPG" class="background-vid" loop>
    <source src="static/images/Video.webm" type="video/webm">
    <source src="static/images/Video.mp4" type="video/mp4">
</video>
<div class="header-background home">
    <div class="page-title">
        <img class="logo" src="static/images/logo.png" />
    </div>
    <nav class="nav-bar">
        <a href="/#/collection">Collection</a>
        <a href="/#/deck">Deck</a>
        <a href="/#/search">Find a card</a>
    </nav>
</div>