<video controls muted autoplay poster="static/images/testStill.JPG" class="background-vid" loop>
    <source src="static/images/test.webm" type="video/webm">
    <source src="static/images/testVid.mp4" type="video/mp4">
</video>
<div class="main-view">
    <div class="page-title">
        <h1>Magic The Gathering</h1>
    </div>
    <div>
        <a class="nav-link" href="/#/collection">Collection</a>
        <a class="nav-link" href="/#/trades">Trades</a>
        <a class="nav-link" href="/#/search">Find a card</a>
    </div>
</div>