<div class="nav-bar">
    <a class="nav-link" href="/#/">Home</a>
    <a class="nav-link" href="/#/collection">Collection</a>
    <a class="nav-link" href="/#/trades">Trades</a>
</div>
<div>
    <div class="main-view">
        <div class="page-title">
            <h1>Find a Card</h1>
        </div>
        <input class="card-search" ng-model="card" type="text" placeholder="Card Name" ng-change="getCardData(card)" />
    </div>
</div>
<div class="search-result-list" ng-repeat="card in cards">
    <div class="card-image-container">
        <img class="card-image" ng-src=" {{ card.image }} " />
    </div>
    <div  class="card-info-container">
        <h2 class="card-name"> Card Name: {{ card.name }} </h2>
        <p class="card-info"> Type: {{ card.type }} </p>
        <p class="card-info"> Color: {{ card.color }} </p>
        <p class="card-info"> Text: {{ card.text }} </p>
        <button class="add-card-btn" ng-click="addCard(card)">Add Card</button>
        <select class="card-amount" ng-model="card.amount" ng-init="card.amount = options[0].value" ng-options="option.key as option.value for option in options"></select>
    </div>
</div>