<div class="nav-bar">
    <a class="nav-link" href="/#/">Home</a>
    <a class="nav-link" href="/#/collection">Collection</a>
    <a class="nav-link" href="/#/trades">Trades</a>
</div>
<div>
    <div class="main-view">
        <h1>Find a Card</h1>
        <input class="card-search" type="text" ng-model="card" placeholder="Card Name" ng-change="getCardData(card)" />
    </div>
</div>
<div>
</div>

<div class="collection-list" ng-repeat="card in cards">
    <div class="card-image-container">
        <img class="card-image" src=" {{ card.image }} " />
    </div>
    <div  class="card-info-container">
        <h2 class="card-name"> Card Name: {{ card.name }} </h2>
        <p class="card-info"> Type: {{ card.type }} </p>
        <p class="card-info"> Color: {{ card.color }} </p>
        <p class="card-info"> Flavor Text: <span class=flavor-text> &nbsp {{ card.text }} </span> </p>
    </div>
</div>