<div class="wrapper">
    <div class="header-background">
        <div class="page-title">
            <img class="logo" src="static/images/logo.png" />
        </div>
        <nav class="nav-bar">
            <a href="/#/collection">Collection</a>
            <a href="/#/home">Home</a>
            <a href="/#/search">Deck</a>
        </nav>
    </div>
    <input class="card-search" ng-model="card" type="text" placeholder="SEARCH ALL CARDS" ng-change="getCardData(card)" />
    <section class="card-container">
        <div class="card-content" ng-repeat="card in cards">
            <ngl-toggle></ngl-toggle>
            <div  class="card-control">
                <a class="control-menu add" ng-click="addCard(card)"> ADD CARD</a>
            </div>
        </div>
    </section>
</div>


<!--<select class="control-menu amount" ng-model="card.amount" ng-init="card.amount = options[0].value" ng-options="option.key as option.value for option in options"></select>-->
