*,
* :after,
* :before {
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/testStill.JPG') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.header-background {
    margin: 0 auto;
    padding: 8px;
    background-color: rgba(93, 98, 94, .4)
}

.header-background.home {
    margin: 0;
    width: 35%;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-bar {
    font-family: 'Fredericka the Great', cursive;;
    font-weight: 100;
    font-size: 20px;
}

.nav-bar a {
    width: 150px;
    padding: 8px;
    margin-right: 15px;
    border: 2px solid #B60000;
    border-radius: 10px;
    color: #bb722f;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: transparent;
    transition: .2s background;
}

.nav-bar a:hover {
    color: black;
    background: linear-gradient(rgba(51, 34, 86, .4), rgba(54, 68, 108, .4), rgba(91, 151, 172, .4));
    border: 2px solid #C5520D;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 1500px;
    margin: 0;
    background: url('../images/Texture0211.jpg') repeat;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.card-container {
    width: 65%;
    margin: 10px auto;
    background: transparent;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-content {
    width: 25%;
}

.card-content img {
    cursor: pointer;
}

.card-info p {
    margin: 0;
}

.card-control {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    display: inline-block;

}

.control-btn {
    margin: 0 auto;
    width: auto;
    padding: 2px;
    border: 1px solid rgb(27, 229, 88);
    border-radius: 10px;
    display: inline-block;
    color: rgb(1, 90, 115);
    background-color: rgba(1, 90, 115, .5);
    text-decoration: none;
    text-align: center;
    transition: .2s background;
    cursor: pointer;
}

.control-btn.add:hover {
    border-color: rgb(1, 90, 115);
    color: rgb(1, 90, 115);
    background-color: rgba(27, 229, 88, .3);
}

.control-btn.remove:hover {
    border-color: #B60000;
    background-color: rgba(27, 229, 88, .3);

}

/* Collection Page Styling */

.collection-stats {
    width: 65%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart-container {
    width: 80%;
    height: 350px;
 }

.color-nav {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 0;
    list-style: none;
}

.color-nav li img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.card-info ul {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-right: 20px;
    color: white;
    list-style-type: none;
}

.collection-card-info ul li {
    text-decoration: none;
    font-size: 16px;
}

.collection-card-info ul li:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Search Page Styling*/

.card-search {
    width: 500px;
    height: 50px;
    margin: 10px;
    padding-left: 10px;
    border: 1px solid black;
    background: rgba(53, 122, 132, 0.2);
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
    color: #bb722f;
}

/*Deck Styling*/

.deck-view {
    margin: 10px auto;
    width: 60%;
}

.deck-list {
    float: left;
}
.deck-list h4 {
    text-decoration: underline;
    margin-bottom: 4px;
}

.deck-list.categories {
    display: flex;
    justify-content: flex-start;
}

.deck-list li {
    margin: 3px;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    list-style: none;
}

.deck-list li a {
    text-decoration: none;

}

.deck-image {
    float: left;
    margin-left: 15%;
}

.add-land {
    border: 1px solid red;
    float: right;
}

.land-images {
    border: 1px solid blue;
    float: left;
    list-style-type: none;
}

.land-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.land-list li img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}


.deck-br {
    clear: both;
    margin: 0 auto;;
    border-top: 1px solid black;
    width: 70%;

}

.sample-hand {
    clear: both;
    margin-top: 20px;
}

.sample-hand-btn {
    cursor: pointer;
}

.sample-hand ul li {
    margin: 5px 10px;
    display: inline-block;
    list-style-type: none;
    overflow: scroll;

}

/* Modal */

.mfp-no-margins img.mfp-img {
    height: 500px;
    width: 375px;
    padding: 0;
}
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
.mfp-no-margins .mfp-container {
    padding: 0;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}