* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

html body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #777777;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/testStill.JPG') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.nav-bar {
    margin-top: 10px;
    margin-left: 32px;
    font-family: 'Fredericka the Great', cursive;;
    font-weight: 100;
    font-size: 20px;
}

.main-view {
    width: 45%;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.3);
    color: #bb722f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 32px;
    margin: 32px;
    float: left;
    font-size: 20px;
}

.page-title {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 46px;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 3px;
}


.nav-link {
    width: 150px;
    padding: 8px;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    color: #bb722f;
    text-decoration: none;
    text-align: center;
    background:rgba(0, 0, 0, 0.5);
    transition: 1s background;
}

.nav-link:hover {
    background:rgba(0, 0, 0, 0.9);
}

/* Collection Page Styling */

.color-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

.colors-image {
    width: 80px;
    height: 80px;
    margin: 15px;
    border-radius: 50px;
}

.collection-graph {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.3);
    color: #bb722f;
    border: solid 1px white;
    padding: 32px;
    width: 30%;
    margin: 32px;
    float: right;
    font-size: 20px;
}

/* Search Page Styling */

.card-search {
    width: 300px;
    height: 50px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid black;
    background: transparent;
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
    color: #bb722f;
}

.card-search:focus {
    border: 1px solid rgba(45, 225, 132, .5));
    background: transparent;
}

.search-result-list {
    clear: both;
    display: flex;
    justify-content: flex-start;
}

.card-image-container {
    margin-left: 5%;
}

.card-info-container {
    margin-top: 1%;
    margin-left: 2%;
    color: whitesmoke;
}

.card-name {
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}

.card-info {
    font-family: 'Signika', sans-serif;
    font-size: 18px;
}

.add-card-btn {
    width: 100px;
    height: 37px;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.add-card-btn:hover {
    background-color: #424242;
    color: #bb722f;
}

/* Media Queries */
@media screen and (max-width: 500px) {
    div{width:70%;}
}

@media screen and (max-device-width: 800px) {
    html { background: url(../images/testStill.JPG) #000 no-repeat center center fixed; }
    #background-vid { display: none; }
}