* {
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/testStill.JPG') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.nav-bar {
    font-family: 'Fredericka the Great', cursive;;
    font-weight: 100;
    font-size: 20px;
}

.nav-bar a {
    width: 150px;
    padding: 8px;
    margin-right: 15px;
    border: 2px solid #bb722f;
    border-radius: 10px;
    display: inline-block;
    color: #bb722f;
    text-decoration: none;
    text-align: center;
    background: transparent;
    transition: .2s background;
}

.nav-bar a:hover {
    background:rgba(53, 122, 132, 0.5);
    border: 2px solid #FFE7B3;
}

h1 {
    font-size: 46px;
    color: #bb722f;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 3px;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 1200px;
    background: url('../images/Texture0211.jpg') repeat;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.header {
    width: 100%;
    height: 10%;
    padding-top: 10px;
    background: transparent;
}

/* Collection Page Styling */

.collection-stats {
    width: 65%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart-container {
    width: 80%;
    height: 500px;
 }

.color-nav {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 0;
    list-style: none;
}

.color-nav li img {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.card-container {
    width: 65%;
    margin: 10px auto;
    background: transparent;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-content {
    width: 25%;
}

.card-content img {
    cursor: pointer;
}

.card-info ul {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-right: 20px;
    color: white;
    list-style-type: none;
}

.collection-card-info ul li {
    text-decoration: none;
    font-size: 16px;
}

.collection-card-info ul li:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Search Page Styling*/

.card-search {
    width: 500px;
    height: 50px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid black;
    background: rgba(53, 122, 132, 0.2);
    font-family: 'Fredericka the Great', cursive;
    font-size: 25px;
    color: #bb722f;
}

.card-control {
}

.control-menu {
    display: inline-block;
    margin: 0 10px;
}

.control-menu image{
    width: 16px;
    height: 16px;
}

/*Deck Styling*/

.deck-view {
    margin: 0 auto;
    width: 60%;
}

.deck-list {
    float: left;
}

.deck-list li {
    margin: 3px;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    list-style: none;
}

.deck-list li a {
    text-decoration: none;

}

.deck-image {
    float: left;
    margin-left: 20px;
}

.deck-br {
    clear: both;
    margin: 0 auto;;
    border-top: 1px solid black;
    width: 70%;

}

.sample-hand {
    clear: both;
    margin-top: 20px;
}

.sample-hand-btn {
    cursor: pointer;
}

.sample-hand ul li {
    display: inline-block;
    list-style-type: none;
    overflow: scroll;

}

/* Modal */
.mfp-no-margins img.mfp-img {
    height: 500px;
    width: 375px;
    padding: 0;
}
.mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}
.mfp-no-margins .mfp-container {
    padding: 0;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}