<img class="collection-card-image" ng-src=" {{ val.image }} " />
<strong class="collection-card-name"> {{ val.name }} </strong>
<span class="collection-card-edition">TODO: add edition</span>
<!--<div class="collection-card-info">-->
    <!--<ul ng-show="hideInfo">-->
        <!--<li><button class="add-deck-btn">Add Card to Deck</button></li>-->
        <!--<li><span class="collection-card-info-type"></span> Type: {{ val.type }} </li>-->
        <!--<li><span class="collection-card-info-color"></span> Color: {{ val.color }}</li>-->
        <!--<li><span class="collection-card-info-text"></span> Text: {{ val.text}} </li>-->
        <!--<li><span class="collection-card-info-other"></span> Cost: TODO add cost</li>-->
    <!--</ul>-->
<!--</div>-->